*{
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
}

header{
  padding: 20px;
  background-color: #424242;
  color: white;
}

header h1{
  font-weight: 200;
  text-align: center;
}
.inputBox{
  padding: 20px;
  width: 50%;
  margin: auto;
}

input{
  font-weight: 100;
  font-size: 1.1em;
  padding: 5px;
}

label{
  display: block;
  padding:10px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin: 10px;
}

button:hover{
  background-color: #3B9E40;
}

.outputBox{
  padding: 20px;
}

p{
  padding: 20px;
}

.column{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-left: 10px;
}

.cell{
  border-radius: 5px;
  font-weight: 400;
  font-size: 1.2em;
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  background: #e9e9e9;
}

.cell-head{
  border-radius: 5px;
  font-weight: 400;
  font-size: 1.2em;
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  background: #c9c9c9;
}

#codes{
  clear: both;
}

#output{
  overflow-x: scroll;
  white-space: nowrap;
}

.heading{
  font-weight: 300;
  font-size: 1.2em;
  padding: 20px;
}
